// Styles Section about

.background-color-about-us {
    background: #617a99;
}

.background-info-about-us {
    background: rgb(255, 255, 255);
    &:after {
        background-color: #E31634;
    }
}

.title-color-about-us {
    color: #212121;
}

.description-color-about-us {
    color: #212121;
}

.color-button-about-us {
    color: #212121;

    &::after{
        border-top: dashed #e31634;
    }
}
