// display
.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}



// Flex direction
.f-row {
    flex-direction: row;
}

.f-row-reverse {
    flex-direction: row-reverse;
}

.f-column {
    flex-direction: column;
}

.f-column-reverse {
    flex-direction: column-reverse;
}

// Flex align items
.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

// Flex justify

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

// min 400px / from small devices
@media all and (min-width: 400px) {
    // display flex
    .sm-d-flex {
        display: flex;
    }

    // Flex direction
    .sm-f-row {
        flex-direction: row;
    }

    .sm-f-row-reverse {
        flex-direction: row-reverse;
    }

    .sm-f-column {
        flex-direction: column;
    }

    .sm-f-column-reverse {
        flex-direction: column-reverse;
    }

    // Flex align items
    .sm-items-center {
        align-items: center;
    }

    .sm-items-start {
        align-items: flex-start;
    }

    .sm-items-end {
        align-items: flex-end;
    }

    // Flex justify

    .sm-justify-center {
        justify-content: center;
    }

    .sm-justify-start {
        justify-content: flex-start;
    }

    .sm-justify-end {
        justify-content: flex-end;
    }
}

// min 700px / from medium devices
@media all and (min-width: 700px) {
    // display flex
    .md-d-flex {
        display: flex;
    }

    // Flex direction
    .md-f-row {
        flex-direction: row;
    }

    .md-f-row-reverse {
        flex-direction: row-reverse;
    }

    .md-f-column {
        flex-direction: column;
    }

    .md-f-column-reverse {
        flex-direction: column-reverse;
    }

    // Flex align items
    .md-items-center {
        align-items: center;
    }

    .md-items-start {
        align-items: flex-start;
    }

    .md-items-end {
        align-items: flex-end;
    }

    // Flex justify

    .md-justify-center {
        justify-content: center;
    }

    .md-justify-start {
        justify-content: flex-start;
    }

    .md-justify-end {
        justify-content: flex-end;
    }
}

// min 900px / from large devices
@media all and (min-width: 900px) {
    // display flex
    .md-d-flex {
        display: flex;
    }

    // Flex direction
    .md-f-row {
        flex-direction: row;
    }

    .md-f-row-reverse {
        flex-direction: row-reverse;
    }

    .md-f-column {
        flex-direction: column;
    }

    .md-f-column-reverse {
        flex-direction: column-reverse;
    }

    // Flex align items
    .md-items-center {
        align-items: center;
    }

    .md-items-start {
        align-items: flex-start;
    }

    .md-items-end {
        align-items: flex-end;
    }

    // Flex justify

    .md-justify-center {
        justify-content: center;
    }

    .md-justify-start {
        justify-content: flex-start;
    }

    .md-justify-end {
        justify-content: flex-end;
    }
}

// min 1200px / from extra large devices
@media all and (min-width: 1200px) {
    // display flex
    .lg-d-flex {
        display: flex;
    }

    // Flex direction
    .lg-f-row {
        flex-direction: row;
    }

    .lg-f-row-reverse {
        flex-direction: row-reverse;
    }

    .lg-f-column {
        flex-direction: column;
    }

    .lg-f-column-reverse {
        flex-direction: column-reverse;
    }

    // Flex align items
    .lg-items-center {
        align-items: center;
    }

    .lg-items-start {
        align-items: flex-start;
    }

    .lg-items-end {
        align-items: flex-end;
    }

    // Flex justify

    .lg-justify-center {
        justify-content: center;
    }

    .lg-justify-start {
        justify-content: flex-start;
    }

    .lg-justify-end {
        justify-content: flex-end;
    }
}

// Max width

@for $i from 1 to 17 {
    .mx-wd-#{$i * 100} {
        max-width: #{$i * 100}px;
    }

    @media all and (min-width: 400px) {
        .mx-wd-sm-#{$i * 100} {
            max-width: #{$i * 100}px;
        }
    }

    @media all and (min-width: 700px) {
        .mx-wd-md-#{$i * 100} {
            max-width: #{$i * 100}px;
        }
    }

    @media all and (min-width: 900px) {
        .mx-wd-lg-#{$i * 100} {
            max-width: #{$i * 100}px;
        }
    }

    @media all and (min-width: 1200px) {
        .mx-wd-xl-#{$i * 100} {
            max-width: #{$i * 100}px;
        }
    }
}
